{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <title>{% block title %}Totodom{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar">
    <div class="brand">
        <a href="{% url 'home_view' %}">Totodom</a>
    </div>

    <div class="sign-in">
        <a class="button color-success" href="{% url 'login_view' %}">Sign In</a>
    </div>

    <div class="username-dropdown">
        <div class="username">
            <button class="button username-button" onclick="">#</button>
        </div>
        <div class="dropdown-menu">
            <a href="#">My Offers</a>
            <a href="#">My Profile</a>
            <a href="{% url 'room_view' %}">Messages</a>
            <a href="#" class="logout-button">Log out</a>
        </div>
    </div>

    <div class="add-offer">
        <a class="button color-success" href="{% url 'new_offer_view' %}">Add Offer</a>
    </div>
</nav>

{% block content %}{% endblock %}

</body>

<script>
    $(document).ready(function () {
        if (sessionStorage.getItem("logged_in") === "true") {
            $(".username-dropdown").show();
            $(".add-offer").show();
        } else {
            $(".sign-in").show();
        }

        $(".username-button").text(sessionStorage.getItem("username"));

        $(".logout-button").click(function (e) {
            sessionStorage.setItem("logged_in", "false");
            sessionStorage.setItem("user_id", "");
            sessionStorage.setItem("username", "");
            $(".username-dropdown").hide();
            $(".add-offer").hide();
            $(".sign-in").show();
        })
    })
</script>

</html>