{% extends "frontapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static  'css/homeStyle.css' %}">
{% endblock %}

{% block content %}
    <div class="main-section">
        <div class="offers">
            <div class="offer">
                <img class="offer-pic" src="{% static  'pics/house1.jpg' %}" alt=""/>
                <div class="offer-desc">
                    <div class="offer-title">SPRZEDAM DOM</div>
                    <div class="offer-price">55555555555zł</div>
                    <div class="offer-size">100m^2</div>
                </div>
            </div>
            <div class="offer">
                <img class="offer-pic" src="{% static  'pics/house2.jpg' %}" alt=""/>
                <div class="offer-desc">
                    <div class="offer-title">WYNAJMĘ DOM</div>
                    <div class="offer-price">9999zł/mc</div>
                    <div class="offer-size">1040m^2</div>
                </div>
            </div>
            <div class="offer">
                <img class="offer-pic" src="{% static  'pics/house3.jpg' %}" alt=""/>
                <div class="offer-desc">
                    <div class="offer-title">Bez prowizji LUX</div>
                    <div class="offer-price">1111111zł</div>
                    <div class="offer-size">1440m^2</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
