{% extends "frontapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static  'css/homeStyle.css' %}">
{% endblock %}

{% block content %}
    <div class=filters-section>
        <form class="filter-form" method="get">
            {% csrf_token %}
            <label for="price-from" class="price-from">Price from:</label>
            <input name="price-from" id="price-from" class="price-from" type="number" step=".01" min="0">
            <label for="price-to" class="price-to">Price to:</label>
            <input name="price-to" id="price-to" class="price-to" type="number" step=".01" min="0">
            <label for="size-from" class="size-from">Size from:</label>
            <input name="size-from" id="size-from" class="size-from" type="number" step=".01" min="0">
            <label for="size-to" class="size-to">Size to:</label>
            <input name="size-to" id="size-to" class="size-to" type="number" step=".01" min="0">
            <input class="submit" type="submit">
        </form>
    </div>
    <div class="main-section">
        <div class="offers">
            {% for offer in offers %}
                <div class="offer">
                    <img class="offer-pic" src="{% static "pics/house1.jpg" %}" alt=""/>
                    <div class="offer-desc">
                        <div class="offer-title">title: {{ offer.title }}</div>
                        <div class="offer-price">price: {{ offer.price }}</div>
                        <div class="offer-size">size: {{ offer.size }}</div>
                        <div class="offer-description">description: {{ offer.description }}</div>
                    </div>
                    <a class="detail-link" href="{% url "offer_detail_view" offer.id %}">Details</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $(".filter-form").submit(function (e) {
                e.preventDefault();
                let serializedData = $(this).serialize();
                let url = 'http://' + location.hostname + '/offers/get_offers';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: serializedData,

                    success: function (response) {
                        let offers = response['data'];
                        let html = "";

                        $.each(offers, function (index, offer) {
                            html +=  '<div class="offer">' +
                            '<img class="offer-pic" src="{% static 'pics/house1.jpg' %}" alt=""/>' +
                            '<div class="offer-desc">' +
                            '<div class="offer-title">title: ' + offer['title'] + '</div>' +
                            '<div class="offer-price">price: ' + offer['price'] + '</div>' +
                            '<div class="offer-size">size: ' + offer['size'] + '</div>' +
                            '<div class="offer-description">description: ' + offer['description'] + '</div>' +
                            '</div>' +
                            '<a class="detail-link" href="/detail/' + offer['id'] + '">Details</a>' +
                            '</div>';
                        });

                        $(".offers").html(html);
                    },
                    error: function (response) {
                        alert(JSON.stringify(response["responseJSON"]));
                    }
                })
            })
        })
    </script>
{% endblock %}