{% extends "frontapp/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static  'css/homeStyle.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div class="offer">
            <img class="offer-pic" src="{% static  'pics/house1.jpg' %}" alt=""/>
            <div class="offer-desc">
                <div class="offer-title">{{ offer.title }}</div>
                <div class="offer-price">{{ offer.price }}zł</div>
                <div class="offer-size">{{ offer.size }}m<sup>2</sup></div>
                <div class="seller">Offered by {{ offer.seller_username }}</div>
                <div class="offer-description">{{ offer.description }}</div>
                <a class="back-link" href="{% url 'home_view' %}">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}