.main-section {
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  grid-template-columns: 1fr auto 1fr;
}

.offers {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 5rem;
}

.offer {
  background: #f3f6fd;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.offer-pic {
  max-width: 100%;
  height: auto;
}

.offer-desc {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offer-title {
  font-size: 1.5rem;
}

.detail-link {
  background-color: var(--color-primary);
  text-align: center;
  margin-top: auto;
}

.detail-link:hover {
  background-color: var(--color-primary-hover);
}

.back-link {
  background-color: var(--color-primary);
  text-align: center;
  margin-top: auto;
  width: 25%;
}

.back-link:hover {
  background-color: var(--color-primary-hover);
}

.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  padding: 2rem 0;
  background: transparent;
}

.filter-form-label {
  font-size: 1.5rem;
}

.filter-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}