.main-section {
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  grid-template-columns: 1fr auto 1fr;
}

.offer-form {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vh;
}

.offer-title-label {
  grid-row: 1;
  grid-column: 1/3;
}

.offer-title {
  grid-row: 2;
  grid-column: 1/3;
}

.offer-price-label {
  grid-row: 3;
  grid-column: 1;
}

.offer-price {
  grid-row: 4;
  grid-column: 1;
}

.offer-size-label {
  grid-row: 3;
  grid-column: 2;
}

.offer-size {
  grid-row: 4;
  grid-column: 2;
}

.description-label {
  grid-row: 5;
  grid-column: 1/3;
}

.description {
  grid-row: 6;
  grid-column: 1/3;
}

.submit {
  grid-row: 7;
  grid-column: 2;
  margin: 0 0 0 10em;
}
