body {
  font-family: Arial, serif;
  background: #EEECEFF2;
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 2fr auto auto;
  background-color: #283b68;
}

.navbar div {
  color: white;
  text-align: center;
  margin: auto;
}

.brand {
  grid-row: 1;
  grid-column: 1;
  font-size: 2.5em;
}

.username-dropdown {
  display: none;
  grid-row: 1;
  grid-column: 4;
}

.add-offer {
  display: none;
  grid-row: 1;
  grid-column: 5;
}

.sign-in {
  display: none;
  grid-row: 1;
  grid-column: 5;
}

button, input, a {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 0.3s;
  font-size: 1em;
}

a {
  color: white;
}

a:active {
  color: none;
}

.username-button, .dropdown-menu a {
  color: #000000;
  background-color: #ffffff;
}

.username-button:hover, .dropdown-menu a:hover {
    background-color: #F5F5F5ED;
}

.dropdown-menu {
  display: none;
  border-top: 3px solid transparent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
}

.add-offer-button {
  color: white;
  background-color: #0c8c0a;
  margin: 0.7em 1em;
}

.add-offer-button:hover {
  background-color: #0c7b0a;
}

.sign-in-button {
  color: white;
  background: #1161ee;
  margin: 0.7em 1em;
}

.sign-in-button:hover {
  background-color: #0f58d9;
}