:root {
  --color-primary: #356fe3;
  --color-primary-hover: #274a91;
  --color-success: #43ba73;
  --color-success-hover: #358d58;
  --color-background: #e1eafb;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: var(--color-background);
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 2fr auto auto;
  padding: 0 1rem;
  background-color: var(--color-primary);
}

.navbar div {
  color: white;
  text-align: center;
  margin: auto;
}

.brand {
  grid-row: 1;
  grid-column: 1;
  font-size: 2.5em;
}

.username-dropdown {
  grid-row: 1;
  grid-column: 4;
}

.add-offer {
  grid-row: 1;
  grid-column: 5;
}

.sign-in {
  grid-row: 1;
  grid-column: 5;
}

button,
input,
a {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 0.3s;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: white;
}

a:active {
  color: none;
}

textarea {
  border: none;
}

.username-button,
.dropdown-menu a {
  color: #000000;
  background-color: #ffffff;
}

.username-button:hover,
.dropdown-menu a:hover {
  background-color: #f5f5f5ed;
}

.dropdown-menu {
  display: none;
  border-top: 3px solid transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
}

.add-offer-button {
  color: white;
  background-color: #0c8c0a;
  margin: 0.7em 1em;
}

.add-offer-button:hover {
  background-color: #0c7b0a;
}

.color-success {
  background: var(--color-success);
  color: white;
}

.color-success:hover {
  background: var(--color-success-hover);
}
